<% provide(:title, "All Messages") %>


<div class="product-placeholder">
  <div class="row">
    <div class="twelve columns title messnav">
      <h1>Messages</h1>
    </div>
  </div>

  <div class="row mess-admin">
    <div class="right">
       <ul class="edit">
        <li><%= link_to "<i class='general foundicon-graph'></i><br><span>Meter Reading</span>".html_safe, new_meter_path, :class => "small button" %></li>
        <li><%= link_to "<i class='general foundicon-tools'></i><br><span>Service Call</span>".html_safe, new_service_call_path, :class => "small button alert" %></li>
        <li><%= link_to "<i class='general foundicon-cart'></i><br><span>Supply Order</span>".html_safe, new_supply_order_path, :class => "small button supply" %></li>
      </ul>
    </div>
  </div>
</div>
<div class="box product-content">
  <div class="row">
    <div class="twelve columns">
      <ul class="block-grid four-up mobile index">
        <% for message in @messages %>
        <li>
          <a href="<%= message_path(message) %>">
            <ul class="pricing-table box message">
              <% if message.service? %>
              <li class="ticket <%= message.type %>">Service Call</li>
              <% end %>
              <% if message.supply? %>
              <li class="ticket <%= message.type %>">Supply Order</li>
              <% end %>
              <% if message.meter? %>
              <li class="ticket <%= message.type %>">Meter Reading</li>
              <% end %>
              <li class="bullet-item"><%= message.first %> <%= message.last %></li>
              <li class="bullet-item"><%= message.company %></li>
              <li class="bullet-item"><%= message.address %></li>
              <% if message.phone_number %><li class="bullet-item"><%= message.phone_number.phony_formatted(:format => :national, :spaces => :-) %></li><% end %>
              <li class="bullet-item"><%= message.sos %></li>
              <% if message.meter? %>
              <li class="bullet-item"><%= message.meter %></li>
              <% else %>
              <li class="description"><%= message.comment %></li>
              <% end %>
              <li class="cta-button"><%= link_to "Destroy", message, :confirm => 'Are you sure?', :method => :delete, :class => "small button" %></li>
            </ul>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
