<% provide(:title, "All Messages") %>


<div class="box">

  <div class="row">
    <div class="twelve columns top">
      <h2>Messages</h2>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <ul class="block-grid four-up mobile index">
        <% for message in @messages %>
        <li>
          <ul class="pricing-table box message">
            <% if message.service? %>
            <li class="ticket <%= message.type %>">Service Call</li>
            <% end %>
            <% if message.supply? %>
            <li class="ticket <%= message.type %>">Supply Order</li>
            <% end %>
            <% if message.meter? %>
            <li class="ticket <%= message.type %>">Meter Reading</li>
            <% end %>
            <% if message.contact? %>
            <li class="ticket <%= message.type %>">General Contact</li>
            <% end %>
            <li class="bullet-item"><%= message.first %> <%= message.last %></li>
            <% unless message.contact? %><li class="bullet-item"><%= message.company %></li><% end %>
            <li class="bullet-item"><%= message.address %></li>
            <% if message.phone_number %><li class="bullet-item"><%= message.phone_number %></li><% end %>
            <% unless message.sos.blank? %><li class="bullet-item"><%= message.sos %></li><% end %>
            <% if message.meter? %>
            <li class="bullet-item"><%= message.meter %></li>
            <% else %>
            <li class="description"><%= message.comment %></li>
            <% end %>
            <li class="cta-button"><%= link_to "Destroy", message, :confirm => 'Are you sure?', :method => :delete, :class => "small button" %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
