<% if product_picture.picture_url %>
  <li><a href="<%= product_picture.picture_url %>"><img data-caption="<%= product_picture.name %>" src="<%= product_picture.picture_url %>" ></a></li>
<% end %>
<% if product_picture.pic_url %>
  <li><a href="<%= product_picture.pic_url %>"><img data-caption="<%= product_picture.name %>" src="<%= product_picture.pic_url %>" ></a></li>
<% end %>