<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<!-- META -->
		<meta name="description" content="We carry the largest selection of printers Omaha has to offer. Quality service and selection of copiers in Omaha, find the right copier for you here today." />
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="printers Omaha, copiers Omaha, Omaha office solutions" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- LINK -->
		<link rel="canonical" href="http://www.simplifybest.com" />
		<link rel="shortcut icon" href="favicon.ico" />

		<!-- TITLE -->
		<title><%= full_title("500 Server Error") %></title>

		<!-- CSS -->
		<%= stylesheet_link_tag 'application', :media => 'all', :digest => true %>
		
		<!-- TYPEKIT -->
		<script type="text/javascript" src="//use.typekit.net/bkq5xlt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- JS  -->
		<%= javascript_include_tag "application", :media => 'all', :digest => true %>

		<!-- Segment.io -->
		<script type="text/javascript">
		  var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
		  analytics.load("d9d1lykusl");
		</script>

		<!-- CSRF -->
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		<!-- HEADER -->
		<div class="box">
		  <div class="rbar-container">
		    <div class="row rbar <% if user_signed_in?%> in<% end %>">
		      <div class="three columns">
		        <a href="<%= root_url %>"><%= image_tag("logo.png",:height=>100, :class=>"slogo") %></a>
		      </div>
		      <div class="nine columns">
		        <p class="menu show-for-small" style=""><a href="#"><i class="icon-reorder"></i> Menu</a></p>
		        <nav id="menu" role="navigation" class="top-menu right">
		          <ul id="mainNav" class="nav-bar">
		            <li><h4 class="menu-links"><%= link_to 'Home', root_path %></h4></li>
		            <li class="has-flyout">
		              <h4 class="menu-links"><a href="#">Customer Service</a></h4>
		              <a href="#" class="flyout-toggle"><span></span></a>
		              <ul class="flyout right">
		                <li><h4><%= link_to "<i class='icon-calendar'></i> Meter Reading".html_safe, new_meter_path %></h4></li>
		                <li><h4><%= link_to "<i class='icon-wrench'></i> Service Call".html_safe, new_service_call_path %></h4></li>
		                <li><h4><%= link_to "<i class='icon-shopping-cart'></i> Supply Order".html_safe, new_supply_order_path %></h4></li>
		              </ul>
		            </li>
		            <li class="has-flyout">
		              <h4 class="menu-links"><%= link_to "Products", products_url %></h4>
		              <a href="#" class="flyout-toggle"><span> </span></a>
		              <ul class="flyout right accordion">
		                <% for category in @categories %>
		                <li>
		                  <div class="title">
		                    <h4><%= category.name %></h4>
		                  </div>
		                  <div class="content">
		                    <ul>
		                      <% for product in category.products.order(:name) %>
		                      <li>
		                        <h5><%=link_to product.name, product %></h5>
		                        <p class='subheader'><%= product.excerpt %></p>
		                      </li>

		                      <% end %>
		                      <li><h5><%= link_to "View All #{category.name}", category %></h5></li>
		                    </ul>
		                  </div>
		                </li>
		                <% end %>
		                <li>
		                  <h4><%= link_to "View All Products", products_url %></h4>
		                </li>
		              </ul>
		            </li>
		            <% if user_signed_in? %>
		            <li class="has-flyout right">
		              <h4 class="menu-links"><a href="#">Account</a></h4>
		              <a href="#" class="flyout-toggle"><span> </span></a>
		              <ul class="flyout right">
		                <li class="user"><h5><%= link_to "User Profile", current_user %></h5></li>
		                <li ><h5><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :confirm => 'Are you sure?' %></h5></li>
		                <% if can? :edit, Product %><li><h5><%= link_to "Admin", admin_index_url %></h5></li><% end %>
		              </ul>
		            </li>
		            <% else %>
		            <% end %>
		          </ul>
		        </nav>
		      </div>
		    </div>
		  </div>
		<div class="twelve columns"><div class="break"></div></div>
		<!-- END HEADER -->

		<!-- MAIN -->
	    <h1>500 Server Error</h1>
      	<a href="/" class="return">&larr; Return to Homepage</a>
	  	<!-- END MAIN -->

	  	<!-- FOOTER -->
	  	</div>
		<div class="prod-footer">
		  <div class="row">
		    <div class="three columns hide-for-small">
		      <h4 class="subheader">Products Types</h4>
		      <ul>
		        <% for category in @categories %>
		        <li><%= link_to category.name, category %></li>
		        <% end %>
		        <li><%= link_to "View All", products_url %></li>
		      </ul>
		    </div>
		    <div class="three columns hide-for-small">
		      <h4 class="subheader">Customer Service</h4>
		      <ul>
		        <li><%= link_to "Meter Reading", new_meter_path %></li>
		        <li><%= link_to "Service Call", new_service_call_path %></li>
		        <li><%= link_to "Supply Order", new_supply_order_path %></li>
		      </ul>
		    </div>
		    <div class="three columns">
		      <h4 class="subheader">Contact Us</h4>
		      <dl>
		        <dt>Address</dt>
		        <dd>6630 South 118th Street<br >Omaha, NE 68137</dd>
		        <dt>Phone Number</dt>
		        <dd>Local: (402) 935-7936</dd> 
		        <dd>Toll-Free: 1 (877) 677-6482 </dd>
		      </dl>
		    </div>
		    <div class="contact-form three columns hide-for-small">
		      <h4 class="subheader">Leave a Comment</h4>
		      <%= render 'shared/contact_form' %>
		    </div>
		  </div>
		</div>
		<div class="copyright">
		    <div class="row">
		      <%= link_to '<p>&copy; Simplified Office Solutions 2013</p>'.html_safe, new_user_session_path %>
		    </div>
		</div>
	  	<!-- END FOOTER -->
	</body>
</html>