            <table style="width: 100%;"> 
              <tbody>
                <tr>
                  <td><%= f.text_field :configuration, :placeholder => "Configuration" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :speed, :placeholder => "Speed" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :warmup, :placeholder => "Warm-Up Time" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :firstout, :placeholder => "First Page Out" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :resolution, :placeholder => "Resolution" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :memory, :placeholder => "RAM Memory" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :hdd, :placeholder => "Hard Disk Drive" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :duplex, :placeholder => "Duplex" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :stdoutput, :placeholder => "Standard Output Tray" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :electrical, :placeholder => "Electrical" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :dimensions, :placeholder => "Dimensions" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :weight, :placeholder => "Weight" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :maxdutycycle, :placeholder => "Max Duty Cycle" %></td>
                </tr>
              </tbody>
            </table>