            <table style="width: 100%;"> 
              <tbody>
                <tr>
                  <td><%= f.text_field :stdsources, :placeholder => "Standard Paper Sources" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :optsources, :placeholder => "Optional Paper Sources" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :papercap, :placeholder => "Paper Capacity" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :papersize, :placeholder => "Paper Size" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :paperweight, :placeholder => "Paper Weight" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :inputmaterials, :placeholder => "Input Materials" %></td>
                </tr>
              </tbody>
            </table>