            <table style="width: 100%;"> 
              <tbody>
                <tr>
                  <td><%= f.text_field :stdcontroller, :placeholder => "Standard Controller" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :emulations, :placeholder => "PDLs / Emulations" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :fonts, :placeholder => "Fonts" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :windows, :placeholder => "Windows OS Compatibility" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :novell, :placeholder => "Novell OS Compatibility" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :macos, :placeholder => "MAC OS Compatibility" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :unixos, :placeholder => "UNIX OS Compatibility" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :interfaces, :placeholder => "Interfaces" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :protocols, :placeholder => "Network Print and Supported Protocols" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :drivers, :placeholder => "Drivers" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :utilities, :placeholder => "Utilities" %></td>
                </tr>
              </tbody>
            </table>