            <table style="width: 100%;"> 
              <tbody>
                <tr>
                  <td><%= f.text_field :scanresolutions, :placeholder => "Scan Resolution" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :fileformats, :placeholder => "File Formats" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :pdfextension, :placeholder => "PDF Extension" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :scanspeed, :placeholder => "Scan Speeds" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :connectivity, :placeholder => "Connectivity / Supported Protocols" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :scanfunction, :placeholder => "Scanning Functions" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :originalsize, :placeholder => "Original Size" %></td>
                </tr>
                <tr>
                  <td><%= f.text_field :scandriver, :placeholder => "Scan Driver" %></td>
                </tr>
              </tbody>
            </table>