<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <div class="controls">
      <% if can? :manage, User %>
        <%= f.email_field :email %>
      <% else %>
        <%= f.email_field :email, :disabled => true %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <% if can? :manage, User %>
    <div class="field">
      <%= f.label :roles %>
      <div class="controls">
        <% Role.all.each do |role| %>
          <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id) %>
          <%= role.name %><br />
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>