<%= form_for @contact, :validate => true do |f| %>
  <div class="row">
    <div class="twelve columns">
      <h4>Leave us a Comment!</h4>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= f.label "Name:", :class => "right inline" %>
    </div>
    <div class="five columns">
      <%= f.text_field :first, :placeholder => "First" %>
    </div>
    <div class="five columns">
      <%= f.text_field :last, :placeholder => "Last" %>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= f.label "Phone:", :class => "right inline" %>
    </div>
    <div class="ten columns">
      <%= f.text_field :phone_number, :placeholder => "(111) 123-4567" %>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= f.label "E-Mail:", :class => "right inline" %>
    </div>
    <div class="ten columns">
      <%= f.text_field :address, :placeholder => "me@mycompany.com" %>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= f.label "Comment:", :class => "right inline" %>
    </div>
    <div class="ten columns">
      <%= f.text_area :comment, :placeholder => "Tell us Something", :rows => '5' %>
    </div>
  </div>
  <div class="row">
    <div class="two columns centered">
      <%= f.submit "Submit", :class => "small button" %>
    </div>
  </div>
<% end %>
