<div id="meters" class="reveal-modal">
  <%= form_tag('/email', :method => 'post') do %>
    <p>Name: <%= text_field_tag :name, :placeholder => 'Your Name' %>
    <p>Company Name: <%= text_field_tag :company, :placeholder => 'Company Name' %>
    <p>Email Address: <%= text_field_tag :address, :placeholder => 'Your-Name@Company-Name.com' %>
    <p>Machine SOS # <%= text_field_tag :sos %>
    <p>Meter<%= text_field_tag :meter %>
    <%= submit_tag "Send" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>