<% provide(:title, 'Copiers and Printers in Omaha') %>

<div class="row">

	<div class="large-12 columns homephrase">
		<h1 class="subheader">Copiers. Printers. All-in-One. <b class="simplified">Simplified.</b></h1>
		<h3 class="subheader">Great products backed by the best locally-owned support in the Omaha area.</h3>
		<a href="/getaquote"><h2 class="Quote">Get a Free Quote</h2></a>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2 class="title">Featured Products</h2>
	</div>
	<div class="large-12 columns">
	    <ul class="large-block-grid-4 small-block-grid-2">
	      <% for product in @featured_products %>
	        <li>
	            <ul class="pricing-table box product">
	              <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
	              <li class="title"><%= link_to product.name, product %></li>
	              <li class="description"><%= product.excerpt %></li>
	              <li class="bullet-item"><%= product.maxdutycycle %></li>
	              <li class="cta-button"><a class="small button" href="<%= product_path(product) %>">More Info &raquo;</a></li>
	            </ul>
	        </li>
	      <% end %>
	    </ul>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h2 class="title">Sign Up for Monthly Specials!</h2>
	</div>
	<div class="large-8 columns large-centered">
		<div id="mc_embed_signup">
			<form action="http://simplifybest.us7.list-manage.com/subscribe/post?u=0520304538750e6d8a5e796e0&amp;id=df6de47979" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="large-4 columns">
					<label for="mce-EMAIL" class="right inline">E-mail Address:</label>
				</div>
				<div class="large-8 columns">
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="me@example.com" required>
				</div>
				<div class="large-4 columns large-centered"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="small success button ticket"></div>
			</form>
		</div>

	<!--End mc_embed_signup-->
	</div>

</div>

<%= javascript_tag do %>
	mixpanel.track('Home Page');
<% end %>