<% provide(:title, 'Copiers and Printers in Omaha') %>


<section class="homemain">
	<div class="row">
		<div class="lead large-6 columns">
      <h1>Simplified Office Solutions</h1>
      <h2>Simply the Best</h2>
      <a class="button success large" href="/getaquote">Get a Quote Today</a>
    </div>

	</div>
	<div class="row">
		<a class="featured-image" href="/products/taskalfa-6550ci">TASKalfa 6550ci with Stapling Finisher</a>
	</div>
</section>

<section class="groupfeatures">
	<div class="row">
		<h2 class="title">Check out our Products</h2>
	</div>
	<div class="row">
		<div class="storeitem large-6 columns">
			<%= image_tag('printer.jpg', class: "groups") %>
			<h2 class="groupname">Printers</h2>
			<a href="/printers" class="moreinfo">EXPLORE</a>
		</div>
		<div class="storeitem large-6 columns">
			<%= image_tag('smalloffice.jpg', class: "groups") %>
			<h2 class="groupname">Small Office</h2>
			<a href="/smalloffice" class="moreinfo">EXPLORE</a>
		</div>
		<div class="storeitem large-6 columns">
			<%= image_tag('workgroup.jpg', class: "groups") %>
			<h2 class="groupname">Workgroup</h2>
			<a href="/workgroup" class="moreinfo">EXPLORE</a>
		</div>
		<div class="storeitem large-6 columns">
			<%= image_tag('enterprise.jpg', class: "groups") %>
			<h2 class="groupname">Enterprise</h2>
			<a href="/enterprise" class="moreinfo">EXPLORE</a>
		</div>
	</div>
</section>

<section class="newsletter">
  <div class="row">
    <div class="large-7 columns">
      <p class="comment subheader">Sign up for our Monthly Specials!</p>
    </div>
    <div class="large-5 columns">
		<form action="http://simplifybest.us7.list-manage.com/subscribe/post?u=0520304538750e6d8a5e796e0&amp;id=df6de47979" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="row collapse">
				<div class="large-9 small-8 columns">
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="me@example.com" required>
				</div>
				<div class="large-3 small-4 columns">
					<button type="submit" class="small button expand" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
				</div>
			</div>
		</form>
  </div>
</section>

<%= javascript_tag do %>
	mixpanel.track('Home Page');
<% end %>