<% provide(:title, 'Copiers and Printers in Omaha') %>


<section class="homemain">
	<div class="row">
		<div class="lead large-6 columns">
      <h1>Simplified Office Solutions</h1>
      <h2>Simply the Best</h2>
      <a class="button success large" href="/getaquote">Get a Quote Today</a>
    </div>

	</div>
	<div class="row">
		<a class="featured-image" href="/products/taskalfa-6550ci">TASKalfa 6550ci with Stapling Finisher</a>
	</div>
</section>

<section class="groupfeatures">
	<div class="row">
		<h2 class="title">Check out our Products</h2>
	</div>
	<div class="row">
		<div class="storeitem">
			<div class="group_image" style="background-image: url(<%= asset_path('printer.jpg') %>)"></div>
			<h2 class="groupname">Printers</h2>
			<a href="/printers" class="moreinfo">EXPLORE</a>
		</div>
		<div class="storeitem">
			<div class="group_image" style="background-image: url(<%= asset_path('smalloffice.jpg') %>)"></div>
			<h2 class="groupname">Small Office</h2>
			<a href="/smalloffice" class="moreinfo">EXPLORE</a>
		</div>
		<div class="storeitem">
			<div class="group_image" style="background-image: url(<%= asset_path('workgroup.jpg') %>)"></div>
			<h2 class="groupname">Workgroup</h2>
			<a href="/workgroup" class="moreinfo">EXPLORE</a>
		</div>
		<div class="storeitem">
			<div class="group_image" style="background-image: url(<%= asset_path('enterprise.jpg') %>)"></div>
			<h2 class="groupname">Enterprise</h2>
			<a href="/enterprise" class="moreinfo">EXPLORE</a>
		</div>
	</div>
</section>

<%= javascript_tag do %>
	mixpanel.track('Home Page');
<% end %>