<% provide(:title, 'Copiers and Printers in Omaha') %>

<div class="row">
	<div class="twelve columns homephrase">
		<h1 class="subheader">"We're a <b>service-based, locally-owned</b> company working to provide the best copiers and printers in the Omaha area." <b class="right">- Simplified</b></h1>
	</div>
	<div class="twelve columns">
		<h3 class="title">Featured Products</h3>
	</div>
	<div class="twelve columns">
	    <ul class="block-grid four-up mobile-two-up">
	      <% for product in @featured_products %>
	        <li>
	          <a href="<%= product_path(product) %>">
	            <ul class="pricing-table box product">
	              <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
	              <li class="title"><%= product.name %></li>
	              <li class="description"><%= product.excerpt %></li>
	              <li class="bullet-item"><%= product.maxdutycycle %></li>
	              <li class="cta-button"><a class="small button" href="<%= product_path(product) %>">More Info &raquo;</a></li>
	            </ul>
	          </a>
	        </li>
	      <% end %>
	    </ul>
	</div>
	<div class="twelve columns">
		<a href="#" class="button right">Get a Quote <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
	</div>
	<div class="twelve columns">
		<h3 class="title">Find Us</h3>
	</div>
	<div class="twelve">
		<iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Simplified+Office+Solutions,+South+118th+Street,+Omaha,+NE&amp;aq=1&amp;oq=Simplified+Office+&amp;sll=41.192627,-96.096192&amp;sspn=0.00926,0.011351&amp;ie=UTF8&amp;hq=Simplified+Office+Solutions,&amp;hnear=S+118th+St,+Omaha,+Nebraska&amp;t=m&amp;ll=41.209526,-96.097927&amp;spn=0.0452,0.072956&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
	</div>
	<div class="twelve columns">
		<h3 class="title">Expert Customer Service</h3>
      	<p class="subheader">We believe that great customer service starts with communication and we've made a few easy ways to contact us. Let us know if you need to place a service call, supply order or submit a meter reading right from our site. Or leave us any other comments at the bottom of the page.</p>
	</div>
	<div class="twelve columns bottomphrase">
		  <%= link_to "<i class='general foundicon-graph'></i><br> Submit a Meter Reading".html_safe, new_meter_path, :class => 'home button meterreading four columns' %>
		  <%= link_to "<i class='general foundicon-tools'></i><br> Place a Service Call".html_safe, new_service_call_path, :class => 'home button servicecall four columns' %>
		  <%= link_to "<i class='general foundicon-cart'></i><br> Place a Supply Order".html_safe, new_supply_order_path, :class => 'home button supplyorder four columns' %>

	</div>
</div>