<% provide(:title, 'Copiers and Printers in Omaha') %>

<div class="row">

	<div class="twelve columns homephrase">
		<h1 class="subheader">Copiers. Printers. All-in-One. <b class="simplified">Simplified.</b></h1>
		<h3 class="subheader">Great products backed by the best locally-owned support in the Omaha area.</h3>
		<a class="success large button radius" href="/getaquote"><h3>Get a Free Quote</h3></a>
	</div>
	<div class="twelve columns">
		<h2 class="title">Featured Products</h2>
	</div>
	<div class="twelve columns">
	    <ul class="block-grid four-up mobile">
	      <% for product in @featured_products %>
	        <li>
	            <ul class="pricing-table box product">
	              <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
	              <li class="title"><%= link_to product.name, product %></li>
	              <li class="description"><%= product.excerpt %></li>
	              <li class="bullet-item"><%= product.maxdutycycle %></li>
	              <li class="cta-button"><a class="small button" href="<%= product_path(product) %>">More Info &raquo;</a></li>
	            </ul>
	        </li>
	      <% end %>
	    </ul>
	</div>

</div>

<%= javascript_tag do %>
	analytics.track('Viewed Home Page');
<% end %>