<% provide(:title, 'Home') %>

<div class="row">
	<div class="twelve columns">
		<h1>Welcome to Simplified Office Solutions!</h1>
	</div>
</div>

<div class="row box">
	<div class="twelve columns ocont">
		<div id="featured">
			<% for pic in @featured_pictures %>
			<div data-caption="#<%= pic.name %>">
				<%= image_tag pic.image_url %>
			</div>
			<% end %>
		</div>
		<% for c in @featured_pictures %>
		<span class="orbit-caption" id="<%=c.name%>"><%= c.description %></span>
		<% end %>
	</div>
	<div class="twelve columns">
		<h3 class="title">Featured Products</h3>
	</div>
	<div class="twelve columns">
	    <ul class="block-grid four-up mobile-two-up">
	      <% for product in @featured_products %>
	        <li>
	          <a href="<%= product_path(product) %>">
	            <ul class="pricing-table box product">
	              <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
	              <li class="title"><%= product.name %></li>
	              <li class="description"><%= product.excerpt %></li>
	              <li class="bullet-item"><%= product.maxdutycycle %></li>
	              <li class="cta-button"><a class="small button" href="<%= product_path(product) %>">More Info &raquo;</a></li>
	            </ul>
	          </a>
	        </li>
	      <% end %>
	    </ul>
	</div>
	<div class="twelve columns">
		<h3 class="title">Expert Customer Service</h3>
      	<p class="subheader">We believe that great customer service starts with communication and we've made a few easy ways to contact us. Let us know if you need to place a service call, supply order or submit a meter reading right from our site. Or leave us any other comments at the bottom of the page.</p>
	</div>
	<div class="four columns serv-col meterreading">
		<%= link_to "<i class='general foundicon-graph'></i><br><p>Submit a Meter Reading</p>".html_safe, new_meter_path, :class => 'service-button' %>
	</div>
	<div class="four columns serv-col servicecall">
		<%= link_to "<i class='general foundicon-tools'></i><br><p>Place a Service Call</p>".html_safe, new_service_call_path, :class => 'service-button' %>
	</div>
	<div class="four columns serv-col supplyorder">
		<%= link_to "<i class='general foundicon-cart'></i><br><p>Place a Supply Order</p>".html_safe, new_supply_order_path, :class => 'service-button' %>
	</div>
</div>