<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= image_tag @brand.image_url(:main).to_s if @brand.image? %>
    <%= f.file_field :image %><br />
    or
    <%= f.text_field :remote_image_url, :placeholder => 'Image URL' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
