<% provide(:title, "#{@brand.name} Products".html_safe) %>

<div class="row">
  <div class="twelve columns">
    <h2 class="title"><%= @brand.name %></h2> 
    <h3 class="subheader"><%= @brand.description.html_safe %></h3>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
      <ul class="large-block-grid-4 small-block-grid-2">
        <% for product in @brand.products.order(:name) %>
      <%= render 'products/product', product: product %>
        <% end %>
      </ul>
  </div>
</div>

<%= javascript_tag do %>
  mixpanel.track('<%= @brand.name %>');
<% end %>
