<% provide(:title, "#{@category.name} Products".html_safe) %>

<div class="row">
  <div class="twelve columns">
    <h1><%= @category.name %>  <small class="subheader"><%= @category.description %></small></h1>
  </div>
</div>

<div class="product-content">
  <div class="bread row">
    <div class="twelve columns">
      <ul class="breadcrumbs">
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Products", products_url %></li>
        <li class="current"><%= link_to @category.name, category_path(@category) %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <ul class="block-grid four-up mobile-two-up">
      <% for product in @category.products.order(:name) %>
        <li>
          <a href="<%= product_path(product) %>">
            <ul class="pricing-table box product">
              <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
              <li class="title"><%= product.name %></li>
              <li class="description"><%= product.excerpt %></li>
              <li class="bullet-item"><%= product.maxdutycycle %></li>
              <li class="cta-button"><a class="small button" href="<%= product_path(product) %>">More Info &raquo;</a></li>
            </ul>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
