<% provide(:title, "#{@category.name} Products".html_safe) %>

<div class="row">
  <div class="large-12 columns">
    <h2 class="title"><%= @category.name %></h2>
  </div>
</div>
<!-- <div class="bread row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Products", products_url %></li>
      <li class="current"><%= link_to @category.name, category_path(@category) %></li>
    </ul>
  </div>
</div> -->
<div class="row">
  <div class="large-12 columns">
    <ul class="large-block-grid-4 small-block-grid-2">
    <% for product in @category.products.order(:name) %>
      <li>
        <ul class="pricing-table box product">
          <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
          <li class="title"><%= link_to product.name, product %></li>
          <li class="description"><%= product.excerpt %></li>
          <li class="bullet-item"><%= product.maxdutycycle %></li>
          <li class="cta-button"><a class="small button" href="<%= product_path(product) %>">More Info &raquo;</a></li>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<%= javascript_tag do %>
  mixpanel.track('<%= @category.name %>');
<% end %>
