<% provide(:title, "Edit #{@product.name}") %>
<%= form_for @product, :html => {:multipart => true} do |f| %>
<div class="bb box">
  <div class="row">
    <div class="large-12 columns top">
      <h2>Edit Product</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h3 class="title">Name, Category, Excerpt and Picture</h3>
    </div>
    <div class="large-6 columns">
      <%= image_tag @product.image_url(:main).to_s if @product.image? %>
      <%= f.file_field :image %><br />
      or
      <%= f.text_field :remote_image_url, :placeholder => 'Image URL' %>
      Small Office: <%= f.check_box :smalloffice %>
      Workgroup: <%= f.check_box :workgroup %>
      Printer: <%= f.check_box :printer %>
      Enterprise: <%= f.check_box :enterprise %>
    </div>
    <div class="large-6 columns">
      Name: <%= f.text_field :name, :placeholder => "Product Name" %>
      Excerpt: <%= f.text_field :excerpt, :placeholder => "Product Excerpt" %>
      Category: <%= f.collection_select :category_id, Category.find(:all), :id, :name, :prompt => "Select a Category" %>
          or create one:
      <%= f.text_field :new_category_name %>
      Brand: <%= f.collection_select :brand_id, Brand.find(:all), :id, :name, :prompt => "Select a brand" %>
          or create one:
      <%= f.text_field :new_brand_name %>
      Featured: <%= f.check_box :featured %>
      New: <%= f.check_box :new %>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to "Show", @product %> |
          <%= link_to "Delete Product", @product, :confirm => 'Are you sure?', :method => :delete %> |
          <%= link_to "Duplicate Product", 'dup' %> |
          <%= link_to "View All", products_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="overview">
    <div class="large-12 columns">
      <h3 class="title">Overview</h3>
    </div>
    <div class="large-12 columns">
    	<%= f.text_area :description, "rows" => 30 %>
    </div>
  </div>

  <div class="row" id="gallery">
    <div class="large-12 columns"><h3 class="title">Gallery</h3></div> 
    <div class="large-12 columns ppicture_edit">
      <%= f.fields_for :product_pictures, :html => {:multipart => true} do |builder| %>
        <%= render 'products/forms/fields/product_picture_fields', f: builder %>
      <% end %>
    </div>
    <div class="large-3  large-centered  columns">
      <%= link_to_add_pics "Add a Product Picture", f, :product_pictures %>
    </div>
  </div>


  <div class="row" id='specifications'>
    <div class="large-12 columns"><h3 class="title">Specifications</h3></div>
    <div class="large-12 columns specs">
      <div class="section-container auto" data-section>
        <section class="active">
          <p class="title"><a href="#general">General Specifications</a></p>
          <div class="content" data-section-content><%= render 'products/forms/generalspec_form', f: f %></div>
        </section>
        <section>
          <p class="title"><a href="#papersupply">Paper Supply</a></p>
          <div class="content" data-section-content><%= render 'products/forms/papersupply_form', f: f %></div>
        </section>
        <section>
          <p class="title"><a href="#print">Print Specifications</a></p>
          <div class="content" data-section-content><%= render 'products/forms/printspec_form', f: f %></div>
        </section>
        <section>
          <p class="title"><a href="#scan">Scan Specifications</a></p>
          <div class="content" data-section-content><%= render 'products/forms/scanspec_form', f: f %></div>
        </section>
      </div>
    </div>
  </div>

  <div class="row" id='accessories'>
    <div class="large-12 columns"><h3 class="title">Accessories</h3></div>
    <div class="large-6 columns">
      <table class="accessories"> 
        <tbody>
          <tr>
            <td><h4>Accessories:</h4></td>
          </tr>
          <%= f.fields_for :accessories do |builder| %>
            <%= render 'products/forms/fields/accessory_fields', f: builder %>
          <% end %>
          <tr style="background:white;">
            <td><%= link_to_add_trs "Add an Accessory", f, :accessories %></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="large-6 columns">
      <table class="supplies"> 
        	<tbody>
            <tr>
            	<td><h4>Supply Items:</h4></td>
          	</tr>
  		      <%= f.fields_for :supply_items do |builder| %>
              <%= render 'products/forms/fields/supply_item_fields', f: builder %>
            <% end %>
            <tr style="background:white;">
              <td><%= link_to_add_trs "Add a Supply Item", f, :supply_items %></td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>

  <div class="row" id='downloads'>
    <div class="large-12 columns"><h3 class="title">Downloads</h3></div>
    <div class="large-12 columns">
      <ul>
        <%= f.fields_for :downloads, :html => {:multipart => true} do |builder| %>
          <%= render 'products/forms/fields/download_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add a Download", f, :downloads %>
      </ul>
    </div>
    <div class="large-12 columns"><hr></div>
  </div>
  <div class="row">
  	<div class="large2 columns large-centered">
  		<%= f.submit :class => "medium radius button"%>
  	</div>
  </div>
</div>
<% end %>

<%= javascript_tag do %>
  mixpanel.track('Edited <%= @product.name %>');
<% end %>