<% provide(:title, 'Products') %>

<div class="product-placeholder">
  <div class="row title">
    <h1 class="right">Our Products</h1>
  </div>
</div>

<div class="box product-content">
  <% for category in @categories %>
    <div class="twelve columns"><h3 class="title right"><%= category.name %></h3></div>
    <ul class="block-grid four-up mobile index">
    <% for product in category.products.order(:name) %>
      <li>
        <a href="<%= product_path(product) %>">
          <ul class="pricing-table box product">
            <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
            <li class="title"><%= product.name %></li>
            <li class="description"><%= product.excerpt %></li>
            <li class="bullet-item"><%= product.maxdutycycle %></li>
          </ul>
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
  <% if can? :edit, Product %>
    <p><%= link_to "New Product", new_product_path %></p>
  <% end %>
  </div>
</div>
