<% provide(:title, 'Products') %>

<div class="product-placeholder">
  <div class="row">
    <div class="twelve columns title prodnav">
      <h1>Our Products</h1>
    </div>
  </div>
  <div class="row prod-admin">
    <% if can? :edit, Product %>
    <div class="right">
       <ul class="edit">
        <li><%= link_to "<i class='general foundicon-edit'></i><br><span>New Product</span>".html_safe, new_product_path, :class=> "small alert button"%></li>
        <li>
          <div class="small alert button dd">
            <a href="#"><i class="general foundicon-add-doc"></i><br><span>Copy Existing Product</span></a>
            <ul>
              <% for product in @products %>
              <li><a href="/products/<%= product.slug %>/dup"><%= product.name %></a></li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<div class="box product-content">
  <% for category in @categories %>
  <div class="row">
    <div class="twelve columns"><h3 class="title"><%= category.name %></h3></div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <ul class="block-grid four-up mobile-two-up">
      <% for product in category.products.order(:name) %>
        <li>
          <a href="<%= product_path(product) %>">
            <ul class="pricing-table box product">
              <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
              <li class="title"><%= product.name %></li>
              <li class="description"><%= product.excerpt %></li>
              <li class="bullet-item"><%= product.maxdutycycle %></li>
              <li class="cta-button"><a class="small button" href="<%= product_path(product) %>">More Info &raquo;</a></li>
            </ul>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>
