<% provide(:title, 'Products') %>

<div class="row">
  <div class="large-12 columns">
    <h2 class="title">Our Products</h2>
  </div>
</div>
<div class="linkage">
  <ul>
    <li>Jump to:</li>
    <% for category in @categories %>
      <li><a href="#<%= category.id %>"><%= category.name %></a></li>
    <% end %>
  </ul>
</div>
<% for category in @categories %>
<div class="row">
  <div class="large-12 columns">
    <h3 class="title" id="<%= category.id %>" ><%= link_to category.name, category %></h3>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <ul class="">
    <% for product in category.products.order(:name) %>
      <%= render 'products/product', product: product %>
    <% end %>
    </ul>
  </div>
</div>
<% end %>

<%= javascript_tag do %>
  mixpanel.track('All Products');
<% end %>
