<% provide(:title, 'Products') %>
<div class="box">
  <% for category in @categories %>
    <h3 class="title right"><%= category.name %></h3>
    <ul class="block-grid four-up">
    <% for product in category.products.order(:name) %>
      <li>
        <ul class="pricing-table">
          <li class="thumbnail"><%= image_tag product.image_url(:thumb).to_s if product.image? %></li>
          <li class="title"><%= product.name %></li>
          <li class="description"><%= product.excerpt %></li>
          <li class="bullet-item"><%= product.speed %></li>
          <li class="bullet-item"><%= product.maxdutycycle %></li>
        </ul>
      </li>
    <% end %>
    </ul>
  <% end %>
  <% if can? :edit, Product %>
    <p><%= link_to "New Product", new_product_path %></p>
  <% end %>
  </div>
</div>
