<% provide(:title, @product.name) %>
<div class="row">
  <div class="large-12 columns box">
  <div class="prod-nav row">
    <div class="large-12 columns">
      <h2 class="title"><%= @product.brand.name if @product.brand %> <%= @product.name %></h2>
      <% if can? :edit, @product %>
      <div class="large-12 columns plinks">
        <div class="large-4 columns"><%= link_to "Edit", edit_product_path(@product)%></div>
        <div class="large-4 columns"><%= link_to "Delete Product", @product, :confirm => 'Are you sure?', :method => :delete %></div>
        <div class="large-4 columns"><a href="<%=@product.slug%>/dup">Duplicate Product</a></div>
      </div>
    <% end %>
    </div>
  </div>
  
  <div class="row" id="overview"> 
    <div class="large-6 columns mainimage">
        <%= image_tag @product.image_url(:main).to_s if @product.image? %>
      </div>
    <div class="large-6 columns">
      <h4 class="subheader"><%= @product.excerpt %></h4>
        

      <p><%= @product.description.html_safe %></p>
      <% if @product.brand %>
        <% if @product.brand.image? %>
          <%= image_tag @product.brand.image_url(:main).to_s, :class => "brand"%>
        <% else %>
          <h5 class="brand">Made by <%= @product.brand.name %></h5>
        <% end %>
      <% end %>
    </div>
  </div>

<% unless @product.product_pictures.empty? %>
  <div class="row  hide-for-print" id="gallery">
    <div class="large-12 columns"> 
      <ul class='large-block-grid-8 small-block-grid-3 clearing-thumbs' data-clearing>
        <% for product_picture in @product.product_pictures %>
          <% if product_picture.picture_url %>
            <li><a href="<%= product_picture.picture_url %>"><img data-caption="<%= product_picture.name %>" src="<%= product_picture.picture_url %>" ></a></li>
          <% end %>
          <% if product_picture.pic_url %>
            <li><a href="<%= product_picture.pic_url %>"><img data-caption="<%= product_picture.name %>" src="<%= product_picture.pic_url %>" ></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @specs %>
  <div class="row" id='specifications'>
    <div class="large-12 columns">
      <div class="section-container auto" data-section>
          <% if @mainspecs %>
          <section class="active">
            <p class="title" data-section-title><a href="#general">Main Specifications</a></p>
            <div class="content" data-section-content>
                <table style="width: 100%;"> 
                  <tbody>
                    <% unless @product.configuration.empty? %>
                    <tr>
                      <td><b>Configuration</b></td>
                      <td><%= @product.configuration %></td>
                    </tr>
                    <% end %>
                    <% unless @product.speed.empty? %>
                    <tr>
                      <td><b>Speed</b></td>
                      <td><%= @product.speed %></td>
                    </tr>
                    <% end %>
                    <% unless @product.warmup.empty? %>
                    <tr>
                      <td><b>Warm-up Time</b></td>
                      <td><%= @product.warmup %></td>
                    </tr>
                    <% end %>
                    <% unless @product.firstout.empty? %>
                    <tr>
                      <td><b>First Page Out</b></td>
                      <td><%= @product.firstout %></td>
                    </tr>
                    <% end %>
                    <% unless @product.resolution.empty? %>
                    <tr>
                      <td><b>Resolution</b></td>
                      <td><%= @product.resolution %></td>
                    </tr>
                    <% end %>
                    <% unless @product.memory.empty? %>
                    <tr>
                      <td><b>Memory</b></td>
                      <td><%= @product.memory %></td>
                    </tr>
                    <% end %>
                    <% unless @product.hdd.empty? %>
                    <tr>
                      <td><b>Hard Disk Drive</b></td>
                      <td><%= @product.hdd %></td>
                    </tr>
                    <% end %>
                    <% unless @product.duplex.empty? %>
                    <tr>
                      <td><b>Duplex</b></td>
                      <td><%= @product.duplex %></td>
                    </tr>
                    <% end %>
                    <% unless @product.stdoutput.empty? %>
                    <tr>
                      <td><b>Standard Output Tray</b></td>
                      <td><%= @product.stdoutput %></td>
                    </tr>
                    <% end %>
                    <% unless @product.electrical.empty? %>
                    <tr>
                      <td><b>Electrical</b></td>
                      <td><%= @product.electrical %></td>
                    </tr>
                    <% end %>
                    <% unless @product.dimensions.empty? %>
                    <tr>
                      <td><b>Dimensions</b></td>
                      <td><%= @product.dimensions %></td>
                    </tr>
                    <% end %>
                    <% unless @product.weight.empty? %>
                    <tr>
                      <td><b>Weight</b></td>
                      <td><%= @product.weight %></td>
                    </tr>
                    <% end %>
                    <% unless @product.maxdutycycle.empty? %>
                    <tr>
                      <td><b>Max Duty Cycle</b></td>
                      <td><%= @product.maxdutycycle %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </section>
          <% end %>
          <% if @paperspecs %>
          <section>
            <p class="title" data-section-title><a href="#papersupply">Paper Supply</a></p>
            <div class="content" data-section-content>
              <table style="width: 100%;"> 
                <tbody>
                  <% unless @product.stdsources.empty? %>
                  <tr>
                    <td><b>Standard Paper Sources</b></td>
                    <td><%= @product.stdsources %></td>
                  </tr>
                  <% end %>
                  <% unless @product.optsources.empty? %>
                  <tr>
                    <td><b>Optional Paper Sources</b></td>
                    <td><%= @product.optsources %></td>
                  </tr>
                  <% end %>
                  <% unless @product.papercap.empty? %>
                  <tr>
                    <td><b>Paper Capacity</b></td>
                    <td><%= @product.papercap %></td>
                  </tr>
                  <% end %>
                  <% unless @product.papersize.empty? %>
                  <tr>
                    <td><b>Paper Size</b></td>
                    <td><%= @product.papersize %></td>
                  </tr>
                  <% end %>
                  <% unless @product.paperweight.empty? %>
                  <tr>
                    <td><b>Paper Weight</b></td>
                    <td><%= @product.paperweight %></td>
                  </tr>
                  <% end %>
                  <% unless @product.inputmaterials.empty? %>
                  <tr>
                    <td><b>Input Materials</b></td>
                    <td><%= @product.inputmaterials %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </section>
          <% end %>
          <% if @printspecs %>
          <section>
            <p class="title" data-section-title><a href="#print">Print Specifications</a></p>
            <div class="content" data-section-content>
              <table style="width: 100%;"> 
                <tbody>
                  <% unless @product.stdcontroller.empty? %>
                  <tr>
                    <td><b>Standard Controller</b></td>
                    <td><%= @product.stdcontroller %></td>
                  </tr>
                  <% end %>
                  <% unless @product.emulations.empty? %>
                  <tr>
                    <td><b>PDLs / Emulations</b></td>
                    <td><%= @product.emulations %></td>
                  </tr>
                  <% end %>
                  <% unless @product.fonts.empty? %>
                  <tr>
                    <td><b>Fonts</b></td>
                    <td><%= @product.fonts %></td>
                  </tr>
                  <% end %>
                  <% unless @product.windows.empty? %>
                  <tr>
                    <td><b>Windows OS Compatibility</b></td>
                    <td><%= @product.windows %></td>
                  </tr>
                  <% end %>
                  <% unless @product.novell.empty? %>
                  <tr>
                    <td><b>Novell OS Compatibility</b></td>
                    <td><%= @product.novell %></td>
                  </tr>
                  <% end %>
                  <% unless @product.macos.empty? %>
                  <tr>
                    <td><b>MAC OS Compatibility</b></td>
                    <td><%= @product.macos %></td>
                  </tr>
                  <% end %>
                  <% unless @product.unixos.empty? %>
                  <tr>
                    <td><b>UNIX OS Compatibility</b></td>
                    <td><%= @product.unixos %></td>
                  </tr>
                  <% end %>
                  <% unless @product.interfaces.empty? %>
                  <tr>
                    <td><b>Interfaces</b></td>
                    <td><%= @product.interfaces %></td>
                  </tr>
                  <% end %>
                  <% unless @product.protocols.empty? %>
                  <tr>
                    <td><b>Network Print and Supported Protocols</b></td>
                    <td><%= @product.protocols %></td>
                  </tr>
                  <% end %>
                  <% unless @product.drivers.empty? %>
                  <tr>
                    <td><b>Drivers</b></td>
                    <td><%= @product.drivers %></td>
                  </tr>
                  <% end %>
                  <% unless @product.utilities.empty? %>
                  <tr>
                    <td><b>Utilities</b></td>
                    <td><%= @product.utilities %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </section>
          <% end %>
          <% if @scanspecs %>
          <section>
            <p class="title" data-section-title><a href="#scan">Scan Specifications</a></p>
            <div class="content" data-section-content>
              <table style="width: 100%;"> 
                <tbody>
                  <% unless @product.scanresolutions.empty? %>
                  <tr>
                    <td><b>Scan Resolution</b></td>
                    <td><%= @product.scanresolutions %></td>
                  </tr>
                  <% end %>
                  <% unless @product.fileformats.empty? %>
                  <tr>
                    <td><b>File Formats</b></td>
                    <td><%= @product.fileformats %></td>
                  </tr>
                  <% end %>
                  <% unless @product.pdfextension.empty? %>
                  <tr>
                    <td><b>PDF Extension</b></td>
                    <td><%= @product.pdfextension %></td>
                  </tr>
                  <% end %>
                  <% unless @product.scanspeed.empty? %>
                  <tr>
                    <td><b>Scan Speeds</b></td>
                    <td><%= @product.scanspeed %></td>
                  </tr>
                  <% end %>
                  <% unless @product.connectivity.empty? %>
                  <tr>
                    <td><b>Connectivity / Supported Protocols</b></td>
                    <td><%= @product.connectivity %></td>
                  </tr>
                  <% end %>
                  <% unless @product.scanfunction.empty? %>
                  <tr>
                    <td><b>Scanning Functions</b></td>
                    <td><%= @product.scanfunction %></td>
                  </tr>
                  <% end %>
                  <% unless @product.originalsize.empty? %>
                  <tr>
                    <td><b>Original Size</b></td>
                    <td><%= @product.originalsize %></td>
                  </tr>
                  <% end %>
                  <% unless @product.scandriver.empty? %>
                  <tr>
                    <td><b>Scan Driver</b></td>
                    <td><%= @product.scandriver %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </section>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
<% unless @product.supply_items.empty? && @product.accessories.empty? %>
  <div class="row" id='accessories'>
   <div class="large-6 columns">
      <table class="accessories"> 
        <tbody>
          <tr>
            <td><h4>Accessories</h4></td>
          </tr>
          <% @product.accessories.each do |accessory| %>
          <tr>
            <td><b><%= accessory.name %></b></td>
            <td><%= accessory.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="large-6 columns">
      <table class="supplies"> 
        <tbody>
        	<tr>
          	<td><h4>Supply Items</h4></td>
          </tr>
			    <% @product.supply_items.each do |supply_item| %>
          <tr>
            <td><b><%= supply_item.name %></b></td>
            <td><%= supply_item.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<% unless @product.downloads.empty? %>
  <div class="row hide-for-print" id='downloads'>
    <div class="large-12 columns downloads">
      <h3>Downloads</h3>
      <ul> 
        <% for download in @product.downloads %>
          <% if download.download %>
            <li><%= link_to "<i class='general foundicon-page'></i> #{download.name}".html_safe, download.download_url %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
</div>
<% if can? :edit, @product %>
  <div>
    <div class="product_pictures">
      <%= render(@product.product_pictures) %>
    </div>
    <%= s3_uploader_form post: product_pictures_url, as: "product_picture[pic_url]", product: @product.id do %>
      <%= file_field_tag :file, multiple: true %>
    <% end %>

      <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress">
            <div class="bar" style="width: 0%">
            </div>
          </div>
        </div>
      </script>
  </div>
  <% end %>
</div>
<%= javascript_tag do %>
  mixpanel.track('<%= @product.name %>');
<% end %>
