<div class="prod-footer">
  <div class="row">
    <div class="three columns hide-for-small">
      <h5 class="subheader">Products Types</h5>
      <ul>
        <% for category in @categories %>
        <li><%= link_to category.name, category %></li>
        <% end %>
        <li><%= link_to "View All", products_url %></li>
      </ul>
    </div>
    <div class="three columns hide-for-small">
      <h5 class="subheader">Customer Service</h5>
      <ul>
        <li><%= link_to "Meter Reading", new_meter_path %></li>
        <li><%= link_to "Service Call", new_service_call_path %></li>
        <li><%= link_to "Supply Order", new_supply_order_path %></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="subheader">Contact Us</h5>
      <dl>
        <dt>Address</dt>
        <dd>6630 South 118th Street<br >Omaha, NE 68137</dd>
        <dt>Phone Number</dt>
        <dd>Local: (402) 935-7936</dd> 
        <dd>Toll-Free: 1 (877) 677-6482 </dd>
      </dl>
    </div>
    <div class="contact-form three columns hide-for-small">
      <h5 class="subheader">Leave a Comment</h5>
      <%= render 'shared/contact_form' %>
    </div>
  </div>
</div>
<div class="copyright">
    <div class="row">
      <a href="<%= root_url %>"><%= image_tag("logo.250.png", :class => "logo") %></a>
      <p>&copy; Simplified Office Solutions 2013</p>
    </div>
</div>