<nav class="top-bar contain-to-grid">
  <ul>
    <li class="name banner"><a href="<%= root_url %>"><%= image_tag("logo.t.png", :class => "logo") %></a></li>
    <li class="name not-banner"><a href="<%= root_url %>"><%= image_tag("logo.t.png", :class => "logo") %></a></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>

    <ul class="right">
      <% if user_signed_in? %>
      <li style="color:white;">Signed in as: <%= current_user.email %></li>
      <% end %>
      <li class="has-dropdown">
        <% if can? :edit, Message %>
        <%= link_to 'Service', messages_url %>
        <% else %>
        <a href="#">Service</a>
        <% end %>
        <ul class="dropdown">
          <li><label>Contact Us</label></li>
          <li><a href="#" data-reveal-id="service">Service Call</a></li>
          <li><a href="#" data-reveal-id="meter">Meter Reading</a></li>
          <li><a href="#" data-reveal-id="supply">Supply Order</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <%= link_to "Our Products", products_path%>
        <ul class="dropdown">
          <% for category in @categories %>
            <li><label><%= category.name %></label></li>
            <% for product in category.products.order(:name) %>
              <li><%= link_to product.name, product %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      <li class="divider"></li>
      <!-- <li><%= link_to'About', about_path %></li> -->
    <% if user_signed_in? %>
      <li><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :confirm => 'Are you sure?' %></li>
    <% else %>
      <li><%= link_to 'Log In', new_user_session_path %></li>
    <% end %>
    </ul>
  </section>
</nav>