<nav class="top-bar contain-to-grid">
  <ul>
    <li class="name"><h1><%= link_to'Simplified Office Solutions', root_path %></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>

    <ul class="right">
      <% if user_signed_in? %>
      <li style="color:white;">Signed in as: <%= current_user.email %></li>
      <% end %>
      <li class="has-dropdown">
        <%= link_to "Products", products_path%>
        <ul class="dropdown">
          <% for category in @categories %>
            <li><label><%= category.name %></label></li>
            <% for product in category.products.order(:name) %>
              <li><%= link_to product.name, product %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      <li class="has-dropdown">
      <a href="#">Static Products</a>
      <ul class="dropdown">
        <li><label>B&W MFP</label></li>
        <li><%= link_to 'TASKalfa 3500i', taskalfa3500i_path %></li>
        <li><%= link_to 'TASKalfa 4500i', taskalfa4500i_path %></li>
        <li><%= link_to 'TASKalfa 5500i', taskalfa5500i_path %></li>
        <li><label>Color MFP</label></li>
        <li><%= link_to 'TASKalfa 3050ci', taskalfa3050ci_path %></li>
        <li><%= link_to 'TASKalfa 3550ci', taskalfa3550ci_path %></li>
        <li><%= link_to 'TASKalfa 4550ci', taskalfa4550ci_path %></li>
        <li><%= link_to 'TASKalfa 5550ci', taskalfa5550ci_path %></li>
      </ul>
      </li>
      <li class="divider"></li>
      <li><%= link_to'About', about_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :confirm => 'Are you sure?' %></li>
    <% else %>
      <li><%= link_to 'Log In', new_user_session_path %></li>
    <% end %>
    </ul>
  </section>
</nav>