<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<!-- META -->
		<meta name="description" content="We carry the largest selection of printers Omaha has to offer. Quality service and selection of copiers in Omaha, find the right copier for you here today." />
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="printers Omaha, copiers Omaha, Omaha office solutions" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- LINK -->
		<link rel="canonical" href="http://www.simplifybest.com" />
		<link rel="shortcut icon" href="favicon.ico" />

		<!-- TITLE -->
		<title><%= full_title(yield(:title)) %></title>

		<!-- CSS -->
		<%= stylesheet_link_tag    "application" %>
		
		<!-- JS  -->
		<%= javascript_include_tag "application" %>

		<!-- TYPEKIT -->
		<script type="text/javascript" src="//use.typekit.net/bkq5xlt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<!-- CSRF -->
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		<!-- HEADER -->
		<%= render "layouts/header" %>
		<!-- END HEADER -->

		<!-- MAIN -->
	    <%= render "layouts/errors" %>
	  	<%= yield %>
	  	<!-- END MAIN -->

	  	<!-- FOOTER -->
	  	<%= render "layouts/footer" %>
	  	<!-- END FOOTER -->
	</body>
</html>