<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<% [:notice, :error, :alert, :success].each do |level| %>
		<% unless flash[level].blank? %>
		<div class="<%= flash_class(level) %>">
			<%= content_tag :span, flash[level] %>
			<a href="" class="close">&times;</a>
		</div>
	  <% end %>
	<% end %>
	<%= render "layouts/header_v2" %>
  <div id="overlay"></div>
    
  	<%= yield %>
  	<div id="meter" class="reveal-modal">
  		<div class="row">
  			<div class="twelve columns">
  				<h2>Send us Your Meter:</h2>
  			</div>
  		</div>
  		<%= render "meters/form" %>
  		<a class="close-reveal-modal">&#215;</a>
  	</div>
  	<div id="supply" class="reveal-modal">
  		<div class="row">
  			<div class="twelve columns">
  				<h2>Place a Supply Order</h2>
  			</div>
  		</div>
  		<%= render "supply_orders/form" %>
  		<a class="close-reveal-modal">&#215;</a>
  	</div>
  	<div id="service" class="reveal-modal">
  		<div class="row">
  			<div class="twelve columns">
  				<h2>Place a Service Call</h2>
  			</div>
  		</div>
  		<%= render "service_calls/form" %>
  		<a class="close-reveal-modal">&#215;</a>
  	</div>
  	<%= render "layouts/footer" %>
</body>
</html>